$green: #00FF00;
$yellowish: #DADAC4;

html, body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  background-color: lightgrey;
  font-family: System, Chicago, Cantarell, sans-serif;
}

p {
  font-family: monospace;
}

nav {
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: #111;
  }
}

form {
  label, input, textarea {
    display: block;
  }
}

button {
  margin: 3px 0;
}

.question-text {
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
  border-top: 20px solid grey;
  background-color: black;
  color: $green;
  padding: 0 10px 1px;
  font-size: 1.5em;
}

.question-preview {
  margin: 2px 0;
  width: 80%;
  border: 1px solid black;
  border-left: 10px solid black;
  background-color: $yellowish;
  padding: 3px;
  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }
}

.answers {
  padding-left: 1em;
}
